<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>userName</key>
			<string>德玛</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>8.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>德邦</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>2.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>诺克</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>3.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>皇子</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>4.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>寒冰</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>5.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>VN</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>6.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>金克斯</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>7.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>武器</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>8.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>剑姬</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>9.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>卡牌</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>26.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>剑圣</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>8.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>奥巴马</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>2.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>卡利斯塔</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>3.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>瞎子</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>4.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>梦魇</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>5.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>劫</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>6.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>锤石</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>7.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>前女友</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>8.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>风女</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>1.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>火女</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>21.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>火男</string>
			<key>phoneNumber</key>
			<string>138542556983854255698</string>
			<key>userImage</key>
			<string>2.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>剑豪</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>22.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>剑魔</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>23.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>大嘴</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>24.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>炼金</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>25.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>鳄鱼</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>26.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>老鼠</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>27.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>吸血鬼</string>
			<key>phoneNumber</key>
			<string>13854255698</string>
			<key>userImage</key>
			<string>28.jpg</string>
		</dict>
	</array>
</array>
</plist>
